<!DOCTYPE html>
<html>
  <head>
    <title>Signup</title>
    <link rel="stylesheet" href="/static/css/style.css" />
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <script src="/static/js/app.js"></script>
    <script src="/static/js/signup.js"></script>
  </head>

  <body>
    <div class="container">
      <h2>Sign Up</h2>
      <input id="su_username" placeholder="Username" />
      <input id="su_email" placeholder="Email" />
      <input id="su_password" type="password" placeholder="Password" />
      <button id="signupBtn">Sign Up</button>
      <p>Already have an account? <a href="/login/">Login</a></p>
      <p id="msg"></p>
    </div>
  </body>
</html>
