{% load static %}

<!DOCTYPE html>
<html>
  <head>
    <title>Task Detail</title>
    <link rel="stylesheet" href="{% static "css/style.css" %}" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css"
    />
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <script src="{% static "js/app.js" %}"></script>
    <script src="{% static "js/task-detail.js" %}"></script>
  </head>
  <body>
    <div class="container">
      <h2 id="title"></h2>
      <p id="desc"></p>

      <div id="fileSection"></div>

      <div class="actions">
        <button id="editBtn">Edit</button>
        <button id="deleteBtn" class="btn-danger">Delete</button>
        <button onclick="window.location.href='/home/'">Back</button>
      </div>

      <p id="msg"></p>
    </div>
  </body>
</html>
